[submodule "js/lib/fitvids"]
	path = js/lib/fitvids
	url = git@github.com:davatron5000/FitVids.js.git
[submodule "library/twitter"]
	path = library/twitter
	url = git@github.com:abraham/twitteroauth.git
[submodule "js/lib/magnific"]
	path = js/lib/magnific
	url = https://github.com/dimsemenov/Magnific-Popup.git
[submodule "library/cmb2"]
	path = library/cmb2
	url = https://github.com/CMB2/CMB2.git
