
.area {
	position: relative;
	padding: 0 0 30px 0;

	@include respond-to( 768px ) {
		padding: 20px 20px 40px 28%;
	}

	@include respond-to( 1220px ) {
		padding: 30px 60px 60px 29%;
	}

	.area-title {
		padding: 20px 20px 0;
	}

	.area-subtitle {
		padding: 0 20px 10px;
		opacity: .7;
	}

	.tab-nav {

		@include respond-to( 768px ) {
			width: 25%;
			position: absolute;
			left: 20px;
			top: 50px;
		}

		@include respond-to( 1220px ) {
			left: 40px;
		}

		&.scrolled {
			position: fixed;
		}

		ul {
			li {
				padding: 20px 15px;
				font-size: 20px;
				line-height: 25px;
				color: lighten( $grey, 20% );
				cursor: pointer;
				border-top: 1px solid lighten( $grey, 50% );
				position: relative;

				&:first-child {
					border-top: none;
				}

				&.active {
					color: darken( $grey, 40% );
		
					&:hover {
						color: darken( $grey, 30% );
					}
				}

				&:hover {
					color: lighten( $grey, 5% );
				}
			}
		}
	}

	.tab-content {
		padding: 20px;

		&.first {
			display: block;
		}
	}

	.sample-schedule {
		float: right;
		font-size: .9em;
		text-align: center;
		margin: 20px;
	}

	.area-inner {

	}
}


.area-listing {
	padding: 20px;
}
