

.area-header {
	background: url(../img/bg-area-header.webp) center center no-repeat;
	background-size: cover;

	.breadcrumbs {
		span.ma, span.mi, span.tc, span.dd, span.pa {
			font-size: 1.2em;
			width: 40px;
			height: 40px;
			line-height: 40px;
		}
	}
}


.academics, .area-header {
	span.ma, span.mi, span.tc, span.dd, span.pa {
		border-radius: 50%;
		font-size: .7em;
		text-align: center;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		line-height: 30px;
		display: inline-block;
		@include font-bold;
	}
	span.ma {
		background-color: lighten( $red-dark, 40% );
		color: white;
	}
	span.mi {
		background-color: lighten( $red-light, 30% );
		color: white;
	}
	span.pa {
		background-color: lighten( $orange, 30% );
		color: darken( $orange, 20% );
	}
	span.tc {
		background-color: lighten( $yellow, 20% );
		color: darken( $yellow, 30% );
	}
	span.dd {
		background-color: lighten( $teal, 30% );
		color: white;
	}

	.area-listing {
		ul {
			list-style-type: none;

			li {
				padding: 10px;
				box-shadow: 0 0 10px rgba( black, .1 );
				margin: 10px 0;

				a {
					text-decoration: none;
					width: 70%;
					display: inline-block;
					color: $grey;

					@include respond-to( 768px ) {
						width: 80%;
					}
				}

				span {
					float: right;
					margin: -4px 0 0 5px;

					@include respond-to( 768px ) {
						margin: -3px 0 0 5px;
					}
				}
			}
		}
	}
}


.area {
	position: relative;
	padding: 0 0 30px 0;
	min-height: 900px;

	@include respond-to( 768px ) {
		padding: 20px 20px 40px 28%;
	}

	@include respond-to( 1220px ) {
		padding: 30px 60px 60px 29%;
	}

	.area-title {
		padding: 20px 20px 0;
	}

	.area-subtitle {
		padding: 0 20px 10px;
		opacity: .7;
	}

	.tab-nav {

		@include respond-to( 768px ) {
			width: 25%;
			position: absolute;
			left: 20px;
			top: 50px;
		}

		@include respond-to( 1220px ) {
			left: 40px;
		}

		&.scrolled {
			position: fixed;
		}

		ul {
			border-top: 2px solid $grey-light;
			border-bottom: 2px solid $grey-light;

			li {
				display: block;
				color: $grey;
				font-size: 14px;
				line-height: 18px;
				text-decoration: none;
				padding: 5px 20px;
				border-bottom: 1px solid $grey-light;
				cursor: pointer;
				@include font-medium

				@include respond-to( 768px ) {
					padding: 10px 12px;
				}

				&:first-child {
					border-top: none;
				}

				&.active {
					@include font-bold;
		
					&:hover {
						@include font-bold;
					}
				}

				&:hover {
					color: $red-light;
				}
			}
		}
	}

	.tab-content {
		padding: 20px;
		display: none;
		@extend .content-style;

		&.active {
			display: block;
		}
	}

	.sample-schedule {
		float: right;
		font-size: .9em;
		text-align: center;
		margin: 20px;
	}

	.area-faculty {
		@include clearfix;

		@include respond-to( 1220px ) {
			margin-right: -3%;
		}

		.faculty-entry {
			position: relative;
			margin-bottom: 20px;

			@include respond-to( 768px ) {
				width: 47%;
				margin: 0 2.5% 20px 0;
				float: left;
			}

			@include respond-to( 1220px ) {
				width: 30%;
				margin: 0 3% 20px 0;
			}

			a {
				display: block;
				width: 100%;
				text-decoration: none;
				transition: all 400ms ease-in-out;

				&:hover {
					opacity: .9;
				}
			}

			.photo {
				background-position: center center;
				background-size: cover;
				border: 1px solid $grey;
			}

			.info {
				padding: 10px;

				@include respond-to( 768px ) {
					min-height: 81px;
				}

				h4 {
					@include font-bold;
					color: $red-dark;
					padding: 0;
					font-size: .9em;
				}

				.faculty-title {
					font-size: .9em;
					color: $grey;
					padding: 3px 0;
				}
			}
		}
	}

	.area-buttons {
		padding: 20px;
		text-align: center;

		@include respond-to( 768px ) {
			.btn {
				margin: 0 30px;
			}
		}
	}
}

.area-legend {
	margin: 0 -20px;

	@include respond-to( 768px ) {
		margin: 20px 0;
	}

	dl {
		background: $grey-light;
		padding: 20px;
		@include clearfix;

		@include respond-to( 768px ) {
			padding: 40px;
		}
	}

	.term {
		display: none;

		dt {
			width: 20%;
			padding: 10px;
			text-align: center;

			@include respond-to( 1024px ) { width: 10%; }
		}

		dd {
			width: 80%;
			padding: 5px;

			@include respond-to( 1024px ) { width: 90%; }
		}
	}

	.term-description {
		display: block;
		font-size: .85em;

		p {
			padding: 0;
		}
	}

	.mini-legend {
		.item {
			display: inline-block;
			white-space: nowrap;
			padding: 5px 10px;
		}
	}

	.area-filter {
		select {
			width: 100%;
			margin-bottom: 20px;

			@include respond-to( 1024px ) {
				width: auto;
			}
		}

		@include respond-to( 1024px ) {
			float: right;
			margin-left: 15px;
			margin-bottom: 0;
		}

		select {
			@include font;
			padding: 10px 15px;
			border: 2px solid $grey;
		}
	}
}

