

.article-cards {
	padding-top: 20px;

	@include respond-to( 840px ) {
		display: flex;
		margin-right: -2%;
	}

	.entry {
		box-shadow: 0 0 20px rgba( black, .2 );
		margin-bottom: 20px;

		.entry-inner {
			padding: 20px;
		}

		@include respond-to( 840px ) {
			flex: 1;
			flex-grow: 0;
			margin: 0 2% 0 0;
			flex-basis: 48%;
		}

		@include respond-to( 1024px ) {
			margin: 0 2% 0 0;
			flex-basis: 23%;
		}
	}	
}

