


.article-cards {
	padding-top: 20px;

	@include respond-to( 650px ) {
		display: flex;
		margin-right: -2%;
		flex-wrap: wrap;
	}

	.entry {
		box-shadow: 0 0 20px rgba( black, .2 );
		margin-bottom: 20px;

		img {
			width: 100%;
			display: block;
		}

		.entry-inner {
			padding: 20px;

			a {
				color: $grey;

				&:hover {
					opacity: .8;
				}
			}
		}

		@include respond-to( 650px ) {
			flex: 1;
			flex-grow: 0;
			margin: 0 2% 2% 0;
			flex-basis: 48%;
		}

		@include respond-to( 1024px ) {
			margin: 0 2% 2% 0;
			flex-basis: 31.3333%;
		}

		@include respond-to( 1220px ) {
			flex-basis: 23%;
		}
	}


	.area & .entry, .two-column & .entry {
		@include respond-to( 1220px ) {
			flex-basis: 31.3333%;
		}
	}
}


