

.content button, .content input[type=submit], .content input[type=reset], .content .btn {
  padding: 10px 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: .9em;
  line-height: 1em;
  color: white;
  text-decoration: none;
  background: linear-gradient( 270deg, lighten( $teal, 20% ), $teal );
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 4px;
  transition: all 400ms ease-in-out;

  .content & {
    box-shadow: 0 0 10px rgba( black, .3 );
    border-radius: 5px;
  }

  &:hover {
    background: linear-gradient( 90deg, lighten( $teal, 20% ), $teal );
    color: white;
  }

  &.red-dark {
    background: $red-dark;
    color: white;
    border-color: $red-dark;
  }

  &.red-light {
    background-color: $red-light;
    color: white;
    border-color: $red-light;
  }

  &.orange {
    background-color: $orange;
    color: white;
    border-color: $orange;
  }

  &.yellow {
    background-color: $yellow;
    color: black;
    border-color: $yellow;
  }

  &.teal {
    background-color: $teal;
    color: white;
    border-color: $teal;
  }

  &.grey {
    background-color: $grey;
    color: white;
    border-color: $grey;
  }

  &.grey-light {
    background-color: $grey-light;
    color: $grey;
    border-color: $grey-light;
  }
}


.button {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1em;
  color: #b30838;
  text-decoration: none;
  background: white;
  border: 1px solid #b30838;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 20px rgba(37, 37, 42, 0.3);
  box-shadow: 0 0 20px rgba(37, 37, 42, 0.3);
  cursor: pointer;
}

