

.content button, .content input[type=submit], .content input[type=reset], .content .btn {
	padding: 15px 25px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: .9em;
	line-height: 1em;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 4px;
	transition: all 400ms ease-in-out;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba( black, .3 );

	.mce-txt, .mce-ico {
		color: white;
	}

	// default button styles
	background: linear-gradient( 270deg, lighten( $teal, 20% ), $teal );
	color: white;
	&:hover { background: linear-gradient( 90deg, lighten( $teal, 20% ), $teal ); color: white; }

	&.red-dark {
		background: linear-gradient( 270deg, lighten( $red-dark, 15% ), $red-dark );
		color: white;
		&:hover { background: linear-gradient( 90deg, lighten( $red-dark, 15% ), $red-dark ); }
	}

	&.red-light {
		background: linear-gradient( 270deg, lighten( $red-light, 15% ), $red-light );
		color: white;
		&:hover { background: linear-gradient( 90deg, lighten( $red-light, 15% ), $red-light ); }
	}

	&.orange {
		background: linear-gradient( 270deg, lighten( $orange, 15% ), $orange );
		color: white;
		&:hover { background: linear-gradient( 90deg, lighten( $orange, 15% ), $orange ); }
	}

	&.yellow {
		background: linear-gradient( 270deg, lighten( $yellow, 10% ), $yellow );
		color: black;
		&:hover { background: linear-gradient( 90deg, lighten( $yellow, 10% ), $yellow ); }
	}

	&.grey {
		background: linear-gradient( 270deg, lighten( $grey, 15% ), $grey );
		color: white;
		&:hover { background: linear-gradient( 90deg, lighten( $grey, 15% ), $grey ); }
	}

	&.grey-light, &.white, &.secondary {
		padding: 14px 25px;
		background: white;
		color: $teal;
		border: 1px solid $teal;
		&:hover { background: $teal; color: white !important; }
	}

	&.large {
		font-size: 1.1em;
		padding: 12px 15px;
	}

	&.text, &.tertiary {
		background: none;
		text-decoration: none;
		color: $teal;
		box-shadow: none;
		padding-right: 8px;

		&:after {
			content: " \2794";
		}

		&:hover {
			color: darken( $teal, 10% );
			text-decoration: underline
		}

		&:active {
			color: darken( $teal, 20% );
		}
	}
}


.button {
	padding: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 1em;
	color: #b30838;
	text-decoration: none;
	background: white;
	border: 1px solid #b30838;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 20px rgba(37, 37, 42, 0.3);
	box-shadow: 0 0 20px rgba(37, 37, 42, 0.3);
	cursor: pointer;
}

