

body.cta-active {
	padding-bottom: 55px;

	@include respond-to( 768px ) {
		padding-bottom: 78px;
	}
}

.call-to-action {
	background: $red-light;
	color: white;
	text-align: center;
	padding: 10px;
	z-index: 500;
	position: relative;

	@include respond-to( 768px ) {
		padding: 20px;
	}

	body.cta-active & {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.btn {
		margin: 0 10px;

		&.two {
			display: none;

			@include respond-to( 768px ) {
				display: inline-block;
			}
		}
	}

	.back-to-top {
		float: right;
		padding: 6px 14px;
		background: $red-dark;
		border: 1px solid rgba( black, .2 );
		box-shadow: 0 0 10px rgba( black, .2 );
		color: rgba( white, .7 );
	}
}


.page-header .call-to-action {
	display: none;
	background: none;

	.cta-active & {
		display: none;
	}

	@include respond-to( 768px ) {
		display: block;
		position: absolute;
		right: 10px;
		bottom: 15px;

		.back-to-top {
			display: none;
		}
	}

	@include respond-to( 1220px ) {
		right: 30px;
		bottom: 30px;
	}
}

