

.content {
	position: relative;
}


.two-column {
	position: relative;

	.sidebar {
		border-bottom: 1px solid rgba( $grey, .2 );
		padding: 20px;

		.toggle-sidebar-menu {
			@include respond-to( 768px ) {
				display: none;
			}
		}

		.menu-title {
			font-size: 22px;
			padding: 10px 0;

			@include respond-to( 768px ) {
				padding: 10px;
			}
		}

		@include respond-to( 768px ) {
			position: absolute;
			left: 30px;
			top: 60px;
			width: 25%;
			margin-right: 2%;
			border-bottom: 0;
			padding: 0;
		}

		@include respond-to( 1220px ) {
			left: 40px;
			width: 23%;
		}

		&.scrolled {
			position: fixed;
		}

		.nav-menu {
			li {
				a {
					display: block;
					color: $grey;
					font-size: 18px;
					text-decoration: none;
					padding: 5px 0;

					@include respond-to( 768px ) {
						padding: 5px 10px;
					}
				}

				.sub-menu {
					display: none;
				}
			}
		}
	}

	.right-column {
		padding: 20px;

		@include respond-to( 768px ) {
			padding: 30px 20px 50px 31%;
		}

		@include respond-to( 1220px ) {
			padding: 40px 40px 70px 28%;
		}
	}
}


.two-column {
	min-height: 900px;
}
