

.two-column {
	@include respond-to( 768px ) {
		display: flex;
		min-height: 80vh;
	} 

	.sidebar {
		padding: 20px;
		background: $grey;
		background-size: cover;
		background-position: center center;

		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 25%;
		}

		@include respond-to( 1220px ) {
			padding: 30px 40px;
		}

		.toggle-sidebar-menu {
			@include respond-to( 768px ) {
				display: none;
			}
		}

		.menu-title {
			display: none;
			font-size: 22px;
			padding: 10px 0;

			@include respond-to( 768px ) {
				padding: 10px;
			}
		}

		.nav-menu {
			border-top: 2px solid $grey-light;
			border-bottom: 2px solid $grey-light;

			li {
				a {
					display: block;
					color: $grey;
					font-size: 14px;
					line-height: 18px;
					text-decoration: none;
					padding: 5px 20px;
					border-bottom: 1px solid $grey-light;
					@include font-medium;

					@include respond-to( 768px ) {
						padding: 10px 12px;
					}

					&:hover {
						color: $red-light;
					}
				}

				.sub-menu {
					display: none;

					&.open {
						display: block;
						padding-left: 20px;

						li a {
							@include font;
						}
					}
				}
			}
		}
	}

	.right-column {
		padding: 20px;
		@extend .content-style;

		@include respond-to( 768px ) {
			flex: 1;
			flex-basis: 75%;
			padding: 20px 30px;
		}

		@include respond-to( 1220px ) {
			flex-basis: 80%;
			padding: 30px 40px;
		}
	}
}

