

.pad {
	padding: 20px;

	@include respond-to( 768px ) {
		padding: 30px;
	}
}


section.content {
	position: relative;
	z-index: 10;
	background: white;
	padding-bottom: 30px;
}


.content-wide {
	padding: 20px;

	@include respond-to( 768px ) {
		padding: 20px 30px;
	}

	@include respond-to( 1024px ) {
		padding: 20px 40px;
	}
}


.box {
	background: $grey-light;
	padding: 40px 20px;
	margin: 0 -20px;

	@include respond-to( 768px ) {
		margin: 0;
		padding: 20px 30px;
	}

	&.red-dark {
		background: $red-dark;
		color: white;
	}

	&.red-light {
		background: $red-light;
		color: white;
	}

	&.orange {
		background: $orange;
		color: white;
	}

	&.grey-dark {
		background: $grey;
		color: white;
	}

	&.white {
		background: white;
		box-shadow: 0 0 20px rgba( black, .2 );
	}
}


.content-style {
	ol, ul {
		padding: 7px 0 7px 30px;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	img {
		@include respond-to( 600px ) {	
			&.alignleft {
				float: left;
				margin: 0 15px 15px 0;
			}
		}
	}

	.buttons {
		padding: 20px 0;
	}
}

