
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
	padding: 0;
}

.elementor-widget-heading, .elementor-widget-text-editor {
	padding: 10px 20px;
}

.elementor-widget-slides {
	margin-bottom: 20px;
}

.elementor-widget-slides .elementor-background-overlay {
	background-color: rgba( black, .4 ) !important;
}

.elementor-editor-active {
	.elementor-background-overlay {
		display: none;
	}
}