

footer {
	@include clearfix;
	background: $red-dark;
	border-top: 20px solid lighten( $grey, 50% );
	padding: 20px;
	color: white;
	margin-top: 0;

	position: relative;
	z-index: 10;

	a {
		color: rgba( white, .9 );
		transition: opacity 400ms ease-in-out;

		&:hover {
			color: white;
			opacity: .8;
		}
	}

	.address {
		@include respond-to( 768px ) {
			float: left;
		}
	}

	.social {
		margin: 20px 0;
		display: block;

		img {
			float: left;
			max-width: 12%;
			margin: 0 1.1%;

			@include respond-to( 450px ) {
				max-width: 40px;
				margin: 0 5px;
			}
		}

		@include respond-to( 768px ) {
			float: right;
			margin: 0;

			&:after {
				clear: none;
			}
		}
	}

	.colophon {
		font-size: .8em;
		opacity: .5;
		clear: both;

		@include respond-to( 768px ) {
			float: right;
			clear: right;
			padding-top: 10px;
		}
	}
}

