

footer {
	@include clearfix;
	background: $red-dark;
	border-top: 20px solid lighten( $grey, 50% );
	padding: 20px;
	color: white;
	margin-top: 0;

	position: relative;
	z-index: 10;

	@include respond-to( 768px ) {
		padding: 20px 30px;
	}

	@include respond-to( 1220px ) {
		padding: 20px 40px;
	}

	a {
		color: rgba( white, .9 );
		transition: opacity 400ms ease-in-out;

		&:hover {
			color: white;
			opacity: .8;
		}
	}

	.address {
		@include respond-to( 768px ) {
			float: left;
		}
	}

	.social {
		margin: 20px 50px 20px 0;
		display: block;

		img {
			float: left;
			max-width: 12%;
			margin: 0 1.1%;

			@include respond-to( 450px ) {
				max-width: 40px;
				margin: 0 5px;
			}
		}

		@include respond-to( 768px ) {
			float: right;
			margin: 0 50px 0 0;

			&:after {
				clear: none;
			}
		}
	}

	.back-to-top {
		@include font-bold;
		position: fixed;
		bottom: 55px;
		right: 20px;
		padding: 11px 15px;
		background: $red-light;
		border: 1px solid rgba( black, .3 );
		text-decoration: none;
		font-size: 1.4em;
		box-shadow: 0 0 15px rgba( black, .3 );
		display: none;

		@include respond-to( 768px ) {
			right: 30px;
			bottom: 50px;
		}

		@include respond-to( 1220px ) {
			right: 40px;
		}
	}

	.colophon {
		font-size: .8em;
		opacity: .5;
		clear: both;

		@include respond-to( 768px ) {
			float: right;
			clear: right;
			padding-top: 10px;
		}
	}
}

