


.front-title {
	padding: 20px;
	background: $orange;

	h2 {
		color: white;
		text-align: center;
		text-transform: uppercase;

		&:after {
			content: "\21D3";
			margin-left: 20px;
			opacity: .5;
		}
	}
}


.front-columns {
	@include respond-to( 1024px ) {
		display: flex;
	}

	.front-articles {
		padding: 20px;

		@include respond-to( 1024px ) {
			flex: 1;
			flex-basis: 50%;
			padding: 20px 30px;

			.article-cards {
				margin-right: -3.3333%;
			}

			.entry:first-child {
				flex-basis: 100%;
				display: flex;

				.entry-thumbnail {
					flex: 1;
					flex-grow: 0;
					flex-basis: 50%;
				}

				.entry-inner {
					flex: 1;
					flex-grow: 0;
					flex-basis: 50%;

					p {
						display: block;
					}
				}
			}

			.entry {
				flex-basis: 30%;
				margin: 0 3.3333% 2% 0;

				.entry-inner p {
					display: none;
				}
			}
		}

		@include respond-to( 1220px ) {
			padding: 30px 40px;
		}

		@include respond-to( 1440px ) {
			padding: 50px 70px;
		}
	}

	.front-events {
		padding: 20px;
		background: $grey;
		color: $grey-light;

		@include respond-to( 1024px ) {
			flex: 1;
			flex-basis: 50%;
			padding: 30px;
		}

		@include respond-to( 1220px ) {
			padding: 50px;
		}

		@include respond-to( 1440px ) {
			padding: 70px;
		}
	}

}

