

header {
	@include clearfix;
	background: $red-dark;
	position: relative;
	padding: 10px;

	.menu-toggle {
		transition: 400ms all ease-in-out;
		position: absolute;
		right: 20px;
		bottom: 10px;

		.menu-open & {
			right: 320px;
		}
	}
}

