

header {
	@include clearfix;
	background: $red-dark;
	position: relative;
	padding: 10px;

	.menu-show {
		position: absolute;
		right: 30px;
		bottom: 20px;
		color: transparent;
		width: 40px;
		height: 40px;
		border: 0;
		background: url(../img/icon-menu-white.png) center center no-repeat;
		background-size: contain;
	}
}

