


.icon-header {
	padding: 20px;
	display: flex;

	@include respond-to( 1024px ) {
		padding: 30px;
	}

	.icon {
		text-align: center;
		width: 20%;
		@include respond-to( 1024px ) { width: 15%; }
		@include respond-to( 1220px ) { width: 10%; }
	}

	.intro {
		width: 80%;
		@include respond-to( 1024px ) { width: 85%; }
		@include respond-to( 1220px ) {
			width: 90%;
			padding-left: 20px;
		}
	}
}



.icons {
	margin: 30px -20px;

	@include respond-to( 768px ) {
		margin: 30px 0;
	}

	@include respond-to( 860px ) {
		display: flex;
		margin-right: -3%;
	}

	.icon {
		padding: 20px;

		@include respond-to( 860px ) {
			width: 33.3333%;
			padding: 40px 20px;
		}

		@include respond-to( 1220px ) {
			width: 30.3333%;
			margin: 0 3% 0 0;
			padding: 40px;
		}
	}
}

