

.library {
	
}


.hours {
	@include clearfix;

	@include respond-to( 768px ) {
		display: flex;
	}

	.hours-inner {
		background: url(../img/bg-hours.webp) center center no-repeat;
		background-size: cover;
		color: white;
		text-align: center;
		padding: 20px;

		@include respond-to( 768px ) {
			width: 30%;
		}

		@include respond-to( 1024px ) {
			width: 20%;
		}

		.day {
			text-shadow: 0 0 15px rgba( black, .5 );

			span {
				opacity: .9;
				padding-left: 20px;
			}
		}

		.status {
			@include font-bold;
			font-size: 2.5em;
			line-height: 1.2em;
			text-shadow: 0 0 15px rgba( black, .5 );
		}

	}


	.library-search {
		opacity: .85;
		background-color: #eee;
		color: $grey;
		padding: 20px;

		@include respond-to( 768px ) {
			width: 70%;
		}

		@include respond-to( 1024px ) {
			width: 80%;
		}

		.everything {
			padding-bottom: 20px;

			input[type=text] {
				@include font;
				float: left;
				width: 60%;
				padding: 6px 10px;
				font-size: 16px;
				line-height: 16px;
				border: 1px solid #ccc;
				border-right: 0;
				color: $grey;

				@include respond-to( 768px ) {
					width: 77%;
					margin-right: 3%;
				}
			}

			input[type=submit] {
				@include font-bold;
				float: left;
				padding: 9px 10px;
				font-size: 16px;
				line-height: 16px;
				width: 40%;

				@include respond-to( 768px ) {
					width: 20%;
				}
			}
		}

		select {
			display: block;
			@include font;
			font-size: 16px;
			line-height: 16px;
			padding: 6px 10px;
			width: 100%;
			color: $grey;
			border: 1px solid #ccc;
		}

		.databases {
			padding-bottom: 20px;

			@include respond-to( 768px ) {
				float: left;
				padding-bottom: 0;
				width: 47.5%;
				margin-right: 5%;
			}
		}

		.guides {
			@include respond-to( 768px ) {
				float: left;
				width: 47.5%;
			}
		}
	}
}

