

.map {
	height: 350px;

	@include respond-to( 768px ) {
		height: 500px;
	}

	@include respond-to( 1024px ) {
		height: 650px;		
	}

	@include respond-to( 1220px ) {
		height: 700px;		
	}

	@include respond-to( 1440px ) {
		height: 750px;		
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}


.map-container {
	position: relative;
}

#map-info {
	padding: 15px;
	background: #eee;
	opacity: 0.8;
	top: 10px;
	right: 10px;
	width: 300px;
	position: absolute;
	
	h4 {
		padding: 0;
	}

	p {
		padding: 5px 0;
 	}
}


