

.map {
	height: 350px;

	@include respond-to( 768px ) {
		height: 500px;
	}

	@include respond-to( 1024px ) {
		height: 650px;		
	}

	@include respond-to( 1220px ) {
		height: 700px;		
	}

	@include respond-to( 1440px ) {
		height: 750px;		
	}

	iframe {
		width: 100%;
		height: 100%;
	}
}

