

.page-header {
	background: url(../img/bg-header-area.webp) center center no-repeat;
	background-size: cover;
	min-height: 250px;
	position: relative;
	box-shadow: 0 0 30px rgba( black, .4 );

	@include respond-to( 1220px ) {
		min-height: 350px;
	}

	.page-header-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( darken( $red-dark, 15% ), .4 );
	}

	.page-header-content {
		position: absolute;
		bottom: 20px;
		left: 20px;
		text-shadow: 0 0 10px rgba( black, .6 );
		color: white;
		font-size: .85em;
		text-align: left;

		@include respond-to( 768px ) {
			left: 30px;
		}

		@include respond-to( 1220px ) {
			left: 40px;
			bottom: 40px;

			.page-title {
				font-size: 2.4em;
			}
		}

		a {
			color: white;
			text-decoration: none;
			margin: 0 5px;

			&:hover {
				border-bottom: 1px dotted rgba( white, .5 );
			}
		}

		.page-title {
			@include font-title-bold;
			font-size: 2em;
			line-height: 1.4em;
			padding: 0;

			@include respond-to( 1024px ) {
				font-size: 2.4em;
			}
		}

		.page-subtitle {
			line-height: 1.6em;
			max-width: 700px;
		}

		.crumbs {
			padding: 10px 0 0;
		}
	}
}

