

.search-pane {
	position: fixed;
	z-index: 10001;
	top: 0;
	right: -100%;
	bottom: 0;
	width: 26%;
	min-width: 300px;
	transition: all 300ms ease-in-out;
	background: white;
	overflow: auto;
	padding: 85px 20px 20px 20px;

	&.open {
		right: 0;
		box-shadow: 0 0 30px rgba( black, .4 );
	}

	.close {
		position: absolute;
		top: 30px;
		right: 30px;
		width: 30px;
		height: 30px;
		color: transparent;
		background: url(../img/icon-close-black.webp) right center no-repeat;
		background-size: contain;
		opacity: .5;
		border: 0;
		transition: color 400ms ease-in-out, padding-right 400ms ease-in-out, width 400ms ease-in-out;
		text-align: right;
		font-size: 20px;
		line-height: 20px;
		cursor: pointer;

		&:hover {
			opacity: .7;
		}

		@include respond-to( 768px ) {
			@include font;

			&:hover {
				width: 130px;
				padding-right: 50px;
				color: rgba( black, .8 );
			}
		}
	}

	.admin-bar & {
		top: 32px;
	}

	input[type=text] {
		width: 100%;
		padding: 10px 15px;
		@include font;
		font-size: 1.1em;
		border: 2px solid #888;

		&:focus {
			border: 2px solid $red-light;
		}
	}

	::placeholder {
		text-transform: uppercase;
		letter-spacing: 1px;
		@include font;
	}

	button[type=submit] {
		display: none;
	}

	h4 {
		@include font;
		text-transform: uppercase;
		font-size: .9em;
		letter-spacing: 1px;
		padding: 40px 10px 10px 10px;
		color: lighten( $grey, 15% );
	}

	.popular-searches a {
		@include font-medium;
		display: block;
		color: $grey;
		text-decoration: none;
		padding: 5px 10px;
	}
}


.search-list {
	.searchform {
		label {
			display: block;
			padding: 3px 0;

			@include respond-to( 768px ) {
				display: inline-block;
				padding: 0;
				margin: 0 5px;
			}
		}

		input[type=submit] {
			margin: 5px 0 0;

			@include respond-to( 768px ) {
				margin: 0 0 0 10px;
			}
		}
	}

	.entries {
		margin: 20px 0 0 0;

		@include respond-to( 1024px ) {
			display: flex;
			flex-wrap: wrap;
			margin-right: -3%;
		}
	}

	.entry {
		border: 3px solid $grey-light;
		padding: 20px;
		margin-bottom: 20px;
		position: relative;

		@include respond-to( 1024px ) {
			flex: 1;
			flex-basis: 47%;
			margin: 0 3% 3% 0;
		}

		@include respond-to( 1220px ) {
			flex-basis: 30.3333%;
			margin: 0 3% 3% 0;
		}

		@include respond-to( 1440px ) {
			flex-basis: 22%;
			margin: 0 3% 3% 0;
		}

		&:before {
			position: absolute;
			bottom: 0;
			right: 0;
			background: $grey-light;
			padding: 6px 12px;
			font-size: .8em;
			line-height: 1em;
			opacity: .8;
		}

		&.post:before {
			content: 'ARTICLE';
		}

		&.page:before {
			content: 'PAGE';
		}

		&.event:before {
			content: 'EVENT';
		}

		&.people:before {
			content: 'PERSON';
		}

		&.guide:before {
			content: 'RESEARCH GUIDE';
		}
	}

	.post-category {
		display: inline-block;
		background: $grey-light;
		padding: 5px 8px;
		font-size: .9em;
	}
}


.pagination {
	padding: 10px 50px 30px;
	text-align: center;
	@include font-title;

	.page-numbers {
		display: inline-block;
		padding: 6px 10px;
		text-decoration: none;
		background: $red-light;
		color: white;

		&.current {
			background: $grey-light;
			color: $grey;
		}
	}
}

