

.video-showcase-container {
	position: relative;
	overflow: hidden;

	.video-thumbnail {
		width: 100%;
		position: absolute;
		z-index: 0;
	}

	.video-showcase {
		position: relative;
		z-index: 1;
		width: 100%;
	}

	.header-menu {
		display: none;

		@include respond-to( 768px ) {
			display: block;
			position: absolute;
			top: 35px;
			left: 250px;
		}

		ul {
			li {
				display: inline;

				a {
					color: white;
					text-decoration: none;
					text-shadow: 0 0 10px rgba( black, .4 );
					padding: 5px 20px;
					transition: all 400ms ease-in-out;
					@include font-bold;

					&:hover {
						text-decoration: none;
						color: $yellow;
					}
				}
			}
		}
	}

	header.video {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		background: transparent;

		&:after {
			content: '';
			width: 130px;
			height: 90px;
			position: absolute;
			top: 0;
			right: 0;
			background: $red-dark;
			z-index: 3;

			@include respond-to( 1024px ) {
				width: 170px;
			}
		}

		.buttons {
			top: 200px;
			left: 50%;
			width: 200px;
			margin-left: -100px;

			@include respond-to( 768px ) {
				width: 300px;
				margin-left: -150px;
			}

			@include respond-to( 1024px ) {
				top: 350px;
			}

			@include respond-to( 1220px ) {
				top: 450px;
				margin-left: -200px;
				width: 400px;
			}

			li {
				display: block;
				margin-bottom: 5px;

				@include respond-to( 768px ) {
					margin-bottom: 10px;
				}

				&:first-child a {
					background: $teal;

					&:hover {
						background: lighten( $teal, 5% );
					}
				}

				a {
					@include font-bold;
					display: block;
					text-align: center;
					border: 2px solid white;
					transition: 400ms all ease-in-out;

					&:hover {
						background: rgba( white, .2 );
					}

					@include respond-to( 1220px ) {
						font-size: 1.2em;
						padding: 10px 25px;
					}
				}
			}
		}
	}
}

