

// set colors
$red-dark: #6A0A1B;
$red-light: #A91C3A;
$orange: #EA4D3D;
$yellow: #F6B44D;
$teal: #0094E3;
$grey: #434039;
$grey-light: #EBEAE9;

$link-color: $red-light;


// import partials
@import "mixins", "colors", "fonts", "base", "grid", "emergency", "columns", "menu", "header", "video-showcase", "page-header",
	"search", "call-to-action", "footer", "content", "button", "elementor", 
	"jobs", "area", "icons", "fund", "alum", "people", "library", "event",
	"lightbox", "hep", "articles";


